absl-py==2.1.0
astunparse==1.6.3
Flask==3.1.0
flask-cors==5.0.1
scikit-learn==1.6.1
pandas==2.2.3
numpy==2.0.2
tensorflow==2.18.0
keras==3.8.0
joblib==1.4.2
requests==2.32.3
deepface==0.0.89
fastapi
uvicorn
tf_keras
python-multipart
uagents
uagents-core
scipy